body{
background-color: rgba(0,52,76,1)
}

li {
    display: inline;
color: white;
text-transform: uppercase;
display: inline;
font-family:'Open Sans', sans-serif;
font-size:  1rem;
line-height: 1.6;
padding: 11px 10px !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}